{% extends "base.html" %}

{% block title %}选股{% endblock %}

{% block content %}
    <span>交易日 17:15 更新</span>
    <h2>大涨后高位横盘, 选股逻辑:</h2>
    <ol>
        <li>取每只个股最近 {{ last_x_days }} 天的数据</li>
        <li>找到涨幅大于 {{ big_increase_rate }}% 的那天</li>
        <li>之后 3-5 天, 每天的涨跌不超过 {{ increase_rate_after }}%</li>
        <li>第 3(或4或5) 天的收盘价较大涨幅那天, 涨跌不超过 {{ increase_rate_after }}%</li>
    </ol>

    <table style="border-collapse: collapse; width: 80%;">
        <thead>
            <tr style="background-color: #f2f2f2;">
                <th style="width: 100px; border: 1px solid #ddd; padding: 8px;">大涨那天</th>
                <th style="width: 500px; border: 1px solid #ddd; padding: 8px;">股票名称</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stock_list %}
                <tr style="background-color: {% cycle '#ffffff' '#f9f9f9' %};">
                    <td style="border: 1px solid #ddd; padding: 8px; text-align: center;">{{ stock.date }}</td>
                    <td style="border: 1px solid #ddd; padding: 8px;">
                        {% for name in stock.name_list %}
                        {{ name }}、
                        {% endfor %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6" style="border: 1px solid #ddd; padding: 8px; text-align: center;">没有找到数据</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block script %}
{% endblock %}
