<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Yolo{% endblock %}</title>
</head>
<body>
    <header>
        <h1>{% block header %}{% endblock %}</h1>
    </header>

    <main>
        {% if request.path != '/' %}
        <p><a href="/">回到首页</a></p>
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>

    <footer  style="position: fixed; bottom: 0; left: 0; width: 100%; text-align: center; padding: 10px;">
        <p><a href="http://beian.miit.gov.cn/" target="_blank">京ICP备2024096986号-1</a></p>
    </footer>

    <!-- JavaScript block -->
    {% block script %}
    <!-- Page-specific scripts can be added here -->
    {% endblock %}
</body>
</html>
