{% extends 'base.html' %}

{% block title %}Index Page{% endblock %}

{% block content %}
<div>
    <div>
        <div>
            <a href="/pdf-to-img/">
                PDF to Image
            </a>
        </div>
        <div>
            <a href="/douban/jiaoyou/">
                豆瓣交友信息汇总
            </a>
        </div>
    </div>

    {% comment %}
    <div style="flex: 1; display: flex; justify-content: center; align-items: center; background-color: #e0e0e0;">
        <p style="font-size: 24px;">这是下半部分的内容。</p>
    </div>
    {% endcomment %}

</div>
{% endblock %}
