<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello World</title>
    {% load static %}
    <script src="{% static 'mysite/js/react.development.js' %}"></script>
    <script src="{% static 'mysite/js/react-dom.development.js' %}"></script>

    <!-- Don't use this in production: -->
    <script src="{% static 'mysite/js/babel.min.js' %}"></script>
  </head>
  <body>
    <div id="wrapper"></div>
    <script type="text/babel">
      class Title extends React.Component {
        handleClickOnTitle () {
          alert('Click on title.')
        }
        render () {
          return (
            <h1 onClick={this.handleClickOnTitle}>React 小书</h1>
          )
        }
      }

      class Header extends React.Component {
        render () {
          return (
          <div>
            <Title />
            <h2>This is Header</h2>
          </div>
          )
        }
      }

      class Main extends React.Component {
        render () {
          return (
          <div>
            <h2>This is main content</h2>
          </div>
          )
        }
      }

      class Footer extends React.Component {
        render () {
          return (
          <div>
            <h2>This is footer</h2>
          </div>
          )
        }
      }

      class Index extends React.Component {
        render () {
          return (
            <div>
              <Header />
              <Main />
              <Footer />
            </div>
          )
        }
      }
      const container = document.getElementById('wrapper');
      const root = ReactDOM.createRoot(container);
      root.render(<Index />)
    </script>
    <!--
      Note: this page is a great way to try React but it's not suitable for production.
      It slowly compiles JSX with Babel in the browser and uses a large development build of React.

      Read this page for starting a new React project with JSX:
      https://react.dev/learn/start-a-new-react-project

      Read this page for adding React with JSX to an existing project:
      https://react.dev/learn/add-react-to-an-existing-project
    -->
  </body>
</html>
